<div class="dashboard-container" *ngIf="user">

    <!-- Welcome Section -->
    <div class="welcome-card">
        <h2>Welcome, {{ user.name }}</h2>
        <p>{{ user.role }} | {{ user.department }}</p>
    </div>

    <!-- Dashboard Cards -->
    <div class="dashboard-cards">

        <div class="dashboard-card">
            <h3>👤 My Profile</h3>
            <p>View and update profile details</p>
            <button>View Profile</button>
        </div>

        <div class="dashboard-card">
            <h3>💰 Salary Details</h3>
            <p>Current Salary</p>
            <strong>₹ {{ user.salary }}</strong>
        </div>

        <div class="dashboard-card">
            <h3>📅 Attendance</h3>
            <p>Present Days</p>
            <strong>21 Days</strong>
        </div>

        <div class="dashboard-card">
            <h3>🏖 Apply Leave</h3>
            <p>Request leave online</p>
            <button>Apply</button>
        </div>

        <div class="dashboard-card">
            <h3>📋 Leave History</h3>
            <p>View previous leave requests</p>
            <button>View History</button>
        </div>

        <div class="dashboard-card">
            <h3>🔒 Change Password</h3>
            <p>Update account password</p>
            <button>Change</button>
        </div>

    </div>

    <!-- Employee Details -->

    <div class="profile-section">

        <h3>Employee Information</h3>

        <p><strong>Email:</strong> {{ user.email }}</p>

        <p><strong>Department:</strong> {{ user.department }}</p>

        <p><strong>Role:</strong> {{ user.role }}</p>

        <p><strong>Salary:</strong> ₹ {{ user.salary }}</p>

    </div>

    <!-- Actions -->

    <div class="action-buttons">
        <button class="update-btn" (click)="openUpdateProfilePopup()">
            Update Profile
    </button>

        <button class="logout-btn" (click)="logout()">
            Logout
        </button>
    </div>

</div>
