<div class="register-container">
  <h2>Register Form</h2>
  <form (ngSubmit)="employeeRegister()">

    
    <label>Name:<span class="required">*</span>
      <small *ngIf="name && !isNameValid()" style="color:red;">
        should contain only alphabets.
      </small>
    </label>
    <input type="text" [(ngModel)]="name" name="name" required>


    <label>Email:<span class="required">*</span></label>
    <input type="email" [(ngModel)]="email" name="email" required>

    <label>Department:<span class="required">*</span></label>
    <input type="text" [(ngModel)]="department" name="department" required>

    <label>Salary:<span class="required">*</span></label>
    <input type="text" [(ngModel)]="salary" name="salary" required>

    <label>Role:<span class="required">*</span></label>
    <select [(ngModel)]="role" name="role" required>
      <option value="ADMIN">ADMIN</option>
      <option value="USER">USER</option>
    </select>

    <label>Create Password:<span class="required">*</span></label>
    <input type="password" [(ngModel)]="createPassword" name="createPassword" required>

    <button type="submit">Register</button>
  </form>
</div>
